node_modules/

# Python virtualenv
[.]venv
env/

# Python runtime
# Byte-compiled / optimized / DLL files
__pycache__/
.cache/
*.py[cod]

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Packaging files:
*.egg*

# Sphinx docs:
# Package-related files
# Documentation
*.egg
*.egg-info
dist
build
eggs
sdist
docs/_build

# SQLite3 database files:
*.db
*.sqlite3
*.sqlite

# Logs:
*.log
*.out

# Environment variables
local.env

# Django stuff:
*.pot
*.log
venv/
assets/
local.db

# Eclipse
.project
.pydevproject
.settings

# Linux Editors
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*
*.swp
*.swo

# Rope
.ropeproject

# Mac
.DS_Store
._*

# Windows
Thumbs.db
Desktop.ini

# PyCharm
*.iml
.idea/
*.ipr
*.iws
.idea/

# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

# Cache
CACHE

# Testing / Unit test / coverage report 
.coverage
.cache
.tox
nosetests.xml

# deploy key for travis
deploy_key
deploy_key.pub

# generated on Travis
/deploy_staging.sh
/deploy_master.sh
/secrets.tar
/borrow/coverage.xml
media/

# C extension
*.so

# Template development
node_modules/
